:root {
  --mainFontColor: #1e212c;
  --gray800: #424551;
  --gray300: #e5e8ed;
  --gray200: #f4f5f6;
  --gray400: #d7dadd;
  --gray900: #1e212c;
  --gray: #a5a6ab;
  --pink: #fedcd3;
  --orange: #ff3f3a;
  --paleOrange: #f75e05;
  --orangeDisabled: #ffa294;
  --activeGradient: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
}
