:root {
  --mainFontColor: #1e212c;
  --gray800: #424551;
  --gray300: #E5E8ED;
  --gray400: #D7DADD;
  --gray900:#1E212C;
  --gray: #a5a6ab;
  --pink: #fedcd3;
  --orange: #ff3f3a;
  --paleOrange: #F75E05;
  --orangeDisabled: #ffa294;

}
