.benefits {
  background-color: #fff;

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    width: calc(100% / 4 - 50px);
    img {
      margin: 0 auto;
      max-width: 60px;
      width: 100%;
    }
    .content {
      width: 100%;
      padding: 10px;
      h4 {
        color: var(--gray800);
        text-align: center;
        margin-bottom: 10px;
      }
    }
  }
}
