.benefits {
  background-color: #fff;

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    img {
      max-width: 280px;
      width: 100%;
    }
    .content {
      width: 100%;
      padding: 10px;
      h4 {
        color: var(--gray800);
        text-align: center;
      }
    }
  }
}
