.members {
  background-color: var(--gray300);

  &__list {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    max-width: 300px;
    width: 100%;
    img {
      border-radius: 4px;
    }
    .fullName {
      text-align: center;
      color: var(--gray800);
      margin: 10px;
      font-size: 20px;
      line-height: 30px;
    }
    .responsibilities {
      color: var(--gray700);
      font-size: 16px;
      line-height: 25px;
    }
  }
  &-picture {
    img {
      max-height: 400px;
      width: 100%;
    }
    position: relative;
    .social {
      width: 100%;
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 2;
      transition: 0.3s;
      opacity: 0;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 20px;
      gap: 15px;
      svg {
        transition: 0.3s;
        fill: var(--gray);
      }
    }

    &::after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      transition: 0.3s;
      opacity: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background: linear-gradient(
        180deg,
        rgba(30, 33, 44, 0) 43.9%,
        rgba(30, 33, 44, 0.03) 55.21%,
        rgba(30, 33, 44, 0.33) 68.73%,
        rgba(30, 33, 44, 0.56) 76.17%,
        rgba(30, 33, 44, 0.768225) 83.75%,
        rgba(30, 33, 44, 0.92) 91.49%,
        #1e212c 100%
      );
      border-radius: 4px;
    }
    &:hover {
      &::after {
        opacity: 1;
      }
      .social {
        opacity: 1;
        svg:hover {
          fill: #fff;
        }
      }
    }
  }
}
