.btn {
  display: inline-block;
  font-weight: 700;
  border: 2px solid transparent;
  border-radius: 4px;
  letter-spacing: 0.5px;
  transition: 0.3s;
  cursor: pointer;

  &-white {
    border-color: #fff;
    background: #fff;
    color: var(--gray800);
    &:hover {
      border-color: #fff;
      background: var(--gray800);
      color: #fff;
    }
    &:active {
      border-color: #fff;
      background: #fff;
      color: var(--gray900);
    }
  }

  &-dark {
    border-color: var(--gray800);
    background: var(--gray800);
    color: #fff;
    &:hover {
      border-color: var(--gray800);
      background: #fff;
      color: var(--gray800);
    }
    &:active {
      background: var(--gray900);
      color: #fff;
    }
  }

  &-gray {
    border-color: var(--gray300);
    background: var(--gray300);
    color: var(--gray800);
    &:hover {
      background: transparent;
      color: var(--gray800);
    }
    &:active {
      background: var(--gray400);
      color: var(--gray800);
    }
  }

  &-orange {
    border-color: var(--orange);
    background: linear-gradient(55.95deg, #ff3f3a 0%, #ff3f3a 100%);
    color: #fff;
    &:hover {
      background: var(--activeGradient);
      color: #fff;
    }
    &:active {
      background: var(--orangeDisabled);
      color: #fff;
    }
  }

  &-hollow-orange {
    border-color: var(--orange);
    background: transparent;
    color: var(--orange);
    &:hover {
      background: var(--activeGradient);
      color: #fff;
    }
    &:active {
      background: var(--orangeDisabled);
      color: #fff;
    }
  }

  &-large {
    line-height: 52px;
    padding: 0px 40px;
    font-size: 16px;
  }

  &-normal {
    padding: 0px 32px;
    line-height: 44px;
  }

  &-small {
    padding: 0px 24px;
    line-height: 36px;
  }
}
