:root {
  --mainFontColor: #1e212c;
  --gray100: #f9f9f9;
  --gray200: #f4f5f7;
  --gray300: #e5e8ed;
  --gray400: #d7dadd;
  --gray500: #b3b7bc;
  --gray600: #9a9ca5;
  --gray700: #787a80;
  --gray800: #424551;
  --gray900: #1e212c;
  --gray: #a5a6ab;
  --pink: #fedcd3;
  --orange: #ff3f3a;
  --paleOrange: #f75e05;
  --orangeDisabled: #ffa294;
  --success: #03cea4;
  --danger: #ff4242;
  --secondary: #ffcf2d;
  --info: #5a87fc;
  --warning: #f89828;
  --activeGradient: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
  --game-bg: linear-gradient(
    55.953deg,
    rgba(255, 63, 58, 0.30015756302521013) 0%,
    rgba(247, 94, 5, 0.30015756302521013) 100%
  );
  --orange-gradient: linear-gradient(135deg, #ffbe83 0%, #ff7e76 100%);
}
