.control-panel{
  padding: 20px 0;
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    .pagination-panel {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: space-evenly;
    }
    .dropdown {
      border: black 2px solid;
    background: darkseagreen;
    font-size: x-large;
    width: 8rem;
    text-align: center;
    border-radius: 20px;
    }
  .pagination{
    width: 40px;
      height: 40px;
      margin: 0 5px;
      font-size: x-large;
      background: #efc1a1;
      border-radius: 20px;
  }
  .pagination:disabled{
    color: #626363;
    border: 0;
    background: #f2dccd;
  }
}
.list-textbook{
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    .list-textbook__elem{
      padding: 10px;
      background: #ecdcda;
      box-shadow: 0px 0px 16px 5px rgb(0 0 0 / 20%);
      margin: 20px 0;
      display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    }
    .hard{
      background: #b9c769 ;
    }
    .complete{
      background: #6cc769;
    }
    .list-textbook__elem:hover{
      background: #f7f5d9;
      box-shadow: 0px 0px 10px 10px rgb(0 0 0 / 20%);
    }
}
.list-textbook__elem__word-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.list-textbook__elem__word-container > div{
  padding: 0 10px;
}
.audio{
  width: 24px;
  height: 24px;
}
.list-textbook__cont-button {
  width: 100%;
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "cont-button__add cont-button__remove"
    "cont-button__complete cont-button__complete"; 
}
.cont-button__add { grid-area: cont-button__add; }
.cont-button__remove { grid-area: cont-button__remove; }
.cont-button__complete { grid-area: cont-button__complete; }
.cont-button{
  width: 100%;
  height: 35px;
  background: #37cb79;
  font-size: large;
}
.cont-button:hover{
  background: #b5cb37;
}
