.selection-menu {
  background-color: var(--gray200);
  flex-grow: 1;
  display: flex;
  align-items: center;

  .container {
    margin: auto;
  }

  .info {
    max-width: 800px;
    width: 100%;
    margin: auto;

    h1 {
      text-align: center;
      margin-bottom: 30px;
    }

    .information {
      p {
        margin-bottom: 20px;
        font-size: 24px;
      }

      ul {
        font-size: 24px;
      }
    }

    .controls {
      display: flex;
    }

    .custom-select {
      max-width: 200px;
      width: 100%;
      margin-right: 60px;

      .label {
        border-color: var(--orange);
      }
    }
  }
}

.game-wrap {
  background: var(--game-bg);
}

.game {
  flex-grow: 1;
  display: flex;
  align-items: center;

  .container {
    margin: auto;
  }

  &-container {
    background-color: #fff;
    border-radius: 4px;
    padding: 24px 40px;
  }
  // &.sprint {
  //   .count {
  //     display: flex;
  //     flex-wrap: wrap;
  //     justify-content: center;
  //     align-items: center;
  //     margin: 0 auto 40px;
  //     width: 100%;
  //     max-width: 400px;

  //     .timer {
  //       font-size: 40px;
  //       width: 100%;
  //       text-align: center;
  //     }

  //     .text {
  //       font-size: 28px;
  //       flex-grow: 1;
  //       flex-shrink: 1;
  //     }

  //     .points {
  //       font-size: 40px;
  //     }
  //   }

  //   .game-container {
  //     background-color: rgba(255, 63, 58, 0.4);
  //     border-radius: 4px;
  //     padding: 20px 10px;

  //     .coefficient {
  //       margin-bottom: 10px;
  //       color: #fff;
  //       text-align: center;
  //       font-size: 18px;

  //       span {
  //         margin: 0 15px;
  //         font-size: 24px;
  //       }
  //     }

  //     .series-response {
  //       display: flex;
  //       justify-content: space-between;
  //       max-width: 300px;
  //       width: 100%;
  //       margin: 0 auto 40px;

  //       .circle {
  //         border-radius: 50%;
  //         background-color: #fff;
  //         width: 50px;
  //         height: 50px;

  //         &.active {
  //           background-color: green;
  //         }
  //       }
  //     }

  //     .words {
  //       text-align: center;
  //       color: #fff;
  //       margin-bottom: 40px;

  //       .original {
  //         font-size: 40px;
  //         font-weight: 700;
  //       }

  //       .translate {
  //         font-size: 28px;
  //       }
  //     }

  //     .control {
  //       display: flex;
  //       justify-content: center;
  //       gap: 80px;

  //       .true {
  //         background-color: rgba(148, 247, 0, 0.8);
  //         color: var(--gray900);

  //         &:hover {
  //           background-color: darken($color: rgba(148, 247, 0, 0.8), $amount: 20);
  //         }
  //       }

  //       .false {
  //         background-color: var(--danger);
  //         color: var(--gray900);

  //         &:hover {
  //           background-color: darken($color: #ff4242, $amount: 20);
  //         }
  //       }
  //     }
  //   }
  // }

  // &.audio-call {
  //   .game-container {
  //     width: 100%;
  //     margin: 0 auto;
  //     background-color: rgba(255, 63, 58, 0.4);
  //     border-radius: 4px;
  //     padding: 20px 10px;

  //     .illustration {
  //       width: 100%;
  //       height: 100%;
  //       margin-bottom: 20px;

  //       svg {
  //         border-radius: 50%;
  //         border: 1px solid red;
  //         margin: 0 auto;
  //         max-width: 100px;
  //         max-height: 100px;
  //       }

  //       &-img {
  //         display: block;
  //         height: 100px;
  //         width: 100px;
  //         border-radius: 50%;
  //         border: 2px solid black;
  //         margin: 0 auto;
  //       }

  //       &-block {
  //         display: flex;
  //         align-items: center;
  //         justify-content: center;
  //         gap: 20px;

  //         svg {
  //           display: inline-block;
  //           border-radius: 50%;
  //           border: 0px solid red;
  //           margin: 0;
  //           max-width: 50px;
  //           max-height: 50px;
  //         }
  //       }
  //     }

  //     .control {
  //       .options {
  //         display: flex;
  //         justify-content: space-between;
  //         align-content: center;
  //         width: 100%;
  //         margin: 0 auto 40px;

  //         &__item {
  //           cursor: pointer;
  //           padding: 0 10px;
  //           font-weight: 700;
  //           font-size: 22px;
  //           line-height: 32px;

  //           &:hover {
  //             background-color: bisque;
  //             border-radius: 4px;
  //           }

  //           &:disabled {
  //             cursor: initial;

  //             background-color: transparent;
  //             &.active {
  //               background-color: white;
  //               color: black;
  //             }
  //           }
  //         }
  //       }

  //       .btn {
  //         width: 200px;
  //         height: 70px;
  //         margin: 0 auto;
  //         display: block;
  //       }
  //     }
  //   }
  // }

  .question-icons {
    max-width: 200px;
    width: 100%;
    flex-grow: 0.5;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: space-between;

    &.right {
      transform: scale(-1, 1);
      .question{
        transform: scale(1, 1);
      }
    }
    .question {
      background: linear-gradient(135deg, #fed8d6 0%, #fde5cf 100%);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      &:nth-child(1) {
        width: 24px;
        height: 24px;
        align-self: flex-end;
        transform: rotate(5deg);
      }
      &:nth-child(2) {
        width: 42px;
        height: 42px;
        align-self: flex-start;
        margin-left: 52px;
        margin-right: 20px;
        transform: rotate(30deg);
      }
      &:nth-child(3) {
        width: 20px;
        height: 20px;
        align-self: center;
        margin: 15px 0 15px 13px;
        margin-right: 20px;
        transform: rotate(-19deg);
      }
      &:nth-child(4) {
        width: 81px;
        height: 81px;
        align-self: flex-start;
        margin-right: 20px;
        transform: rotate(-27deg);
        font-size: 34px;
        font-weight: 700;
      }
      &:nth-child(5) {
        width: 54px;
        height: 54px;
        align-self: flex-end;
        margin-right: 20px;
        transform: rotate(15deg);
        font-size: 24px;
        font-weight: 700;
      }
    }
  }
  &.audio-call {
    .control {
      margin-bottom: 40px;
      display: flex;
      justify-content: space-between;
      align-items: stretch;
    }
    .illustration {
      display: flex;
      justify-content: center;
      gap: 50px;
      &-img {
        max-width: 300px;
      }
      &-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
        .illustration-word {
          text-align: center;
          font-size: 16px;
          font-weight: 700;
        }
      }
      svg {
        fill: #fff;
        cursor: pointer;
        background: linear-gradient(135deg, #ffbe83 0%, #ff7e76 100%);
        width: 94px;
        height: 94px;
        border-radius: 50%;
        margin: 0 auto;
      }
    }
    .options {
      max-width: 672px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 30px 20px;
      button {
        max-width: 326px;
        width: 100%;
        border-radius: 4px;
        padding: 20px 0;
        &:not(.nextWordButton) {
          background: linear-gradient(135deg, #fed8d6 0%, #fde5cf 100%);
        }
        .nextWordButton {
          background: linear-gradient(135deg, #b4b4b4 0%, #d5d5d5 100%);
        }
        &:disabled {
          background: linear-gradient(135deg, #fed8d6 0%, #fde5cf 100%);
        }
        &.active {
          color: #fff;
          background: linear-gradient(135deg, #ffbe83 0%, #ff7e76 100%),
            linear-gradient(135deg, #fed8d6 0%, #fde5cf 100%);
        }
      }
    }
  }
}

.statisctic-game {
  .message {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
  }

  .content-container {
    margin: 0 auto;
    max-width: 50vw;
    height: 70vh;
    overflow-y: auto;
    background-color: var(--gray400);
    border-radius: 4px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    padding: 10px;
  }

  .word {
    display: flex;
    gap: 10px;
  }

  .illustration__svg {
    max-width: 20px;
    max-height: 20px;
  }

  .controls {
    margin: 15px auto 0;
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      margin: 0 10px;
    }
  }

  .learned-words {
  }

  .learning-words {
  }
}
