.login-popUp {
  position: absolute;
  transition: 0.3s;
  transform: translateX(100%);
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: rgb(85, 80, 85, 0.9);
  z-index: 2;
}

.menu {
  width: 400px;
  min-height: 400px;
  margin: auto;
  background-color: #fff;
  position: relative;
  padding: 20px;

  &__text {
    margin-bottom: 20px;
  }

  .menu-heading {
    text-align: center;
    margin-bottom: 20px;
  }
  .close {
    position: absolute;
    right: 10px;
    top: 0px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    &::before,
    &::after {
      position: absolute;
      display: block;
      content: '';
      width: 20px;
      height: 2px;
      background-color: var(--gray700);
      border-radius: 4px;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      margin: auto;
    }
    &::before {
      transform: rotate(50deg);
    }
    &::after {
      transform: rotate(-50deg);
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    label {
      width: 100%;
      margin-bottom: 20px;
      input {
        width: 100%;
        border: 1px solid var(--gray400);
        color: var(--gray800);
        padding: 11px 16px;
        &::placeholder {
          color: var(--gray600);
        }
      }
      h5 {
        margin-bottom: 8px;
        color: var(--gray800);
        font-size: 14px;
        line-height: 21px;
      }
    }

    button[type='submit'] {
      margin: auto;
      font-size: 18px;
      line-height: 44px;
      margin-bottom: 20px;
      width: 100%;
      cursor: pointer;
    }
    .registration,
    .signIn {
      span {
        color: var(--orange);
        cursor: pointer;
        margin-left: 10px;
      }
    }
  }
}
